<h1> Contato # <%= @contact.id %></h1>

<p>Realizado em: <%= @contact.created_at %></p>
<p>Nome: <%= @contact.name %></p>
<p>Email: <%= @contact.email %></p>
<p>Mensagem:</p>
<p><%= @contact.message %></p>