<!DOCTYPE html>
<html>
<head>
  <title>SiteRails</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag :application %>
  <%= stylesheet_link_tag "#{controller_path}/#{action_name}" rescue nil %>
  <%= javascript_pack_tag :application %>
</head>

<body>
<nav class="menu">
  <ul>
    <li><%= link_to "Home", home_index_path %></li>
    <li><%= link_to "Sobre", about_index_path %>
      <ul>
        <li><%= link_to "Contato", contacts_path %></li>
        </li>
      </ul>
  </ul>
</nav>

<% flash.each do |kind, message| %>
  <div class="flash <%= kind %>"><%= message %></div>
<% end %>

<%= yield %>

</body>
</html>
